<ng-container *ngIf="!isLoading">
  <header class="page-header" [imgBackground]="model.Heading.PrimaryImage">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ng-container *ngIf="!model.Archive.Category; else elseBlock">
            <h1>{{model.Title}}</h1>
          </ng-container>
          <ng-template #elseBlock>
            <h1>{{model.Archive.Category.Title}}</h1>
          </ng-template>
          <p class="lead" [innerHTML]="model.Heading.Ingress.Value">
          </p>
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="container">
      <ng-container *ngFor="let post of model.Archive.Posts">
        <div class="row archive-item">
          <div class="col-sm-12">
            <h2><a [routerLink]="post.Permalink">{{post.Title}}</a></h2>
            <p>
              <strong>{{post.Published | date: 'dd/MM/yyyy'}}</strong> in
              <a [routerLink]="[model.Permalink + '/category', post.Category.Slug]">{{post.Category.Title}}</a>
            </p>
          </div>
          <div class="col-sm-9">
            <p [innerHTML]="post.Regions.Heading.Ingress.Value">
            </p>
            <p><a [routerLink]="post.Permalink">Read more...</a></p>
          </div>
          <div class="col-sm-3 d-xs-none d-md-block">
            <ng-container *ngFor="let tag of post.Tags">
              <span class="tag"># {{tag.Title}}</span>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
