<ng-container *ngIf="teasers">
  <div class="row justify-content-center teasers">
    <div *ngFor="let teaser of teasers" class="col-sm-6 col-md-{{teaser.size}} teaser">
      <div class="teaser-body">
        <span class="teaser-subtitle">{{teaser.SubTitle.Value}}</span>
        <h3>{{teaser.Title.Value}}</h3>
        <div [innerHTML]="teaser.Body.Value"></div>
        <p *ngIf="teaser.PageLink.HasValue">
          <a [routerLink]="teaser.PageLink.Permalink">Read more..</a>
        </p>
        <p *ngIf="!teaser.PageLink.HasValue && teaser.PostLink.HasValue">
          <a [routerLink]="teaser.PostLink.Permalink">Read more..</a>
        </p>
      </div>
    </div>
  </div>
</ng-container>
